category_encoders~=2.6.3        # A set of scikit-learn-style transformers for encoding categorical variables
fastapi[all]~=0.109.0           # A modern, fast (high-performance), web framework for building APIs with Python 3.8+ based on standard Python type hints
numpy~=1.26.3                   # Fundamental package for array computing in Python
pandas~=2.1.4                   # Powerful data structures for data analysis, time series, and statistics
scikit-learn~=1.3.2             # Machine Learning in Python